body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffce3cda;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.background {
  width: 900px;
  height: 350px;
  background-image: url("./assets/imgs/background.png");
  background-repeat: repeat-x;
  background-position: 0 100%;
  animation: slider 60s linear infinite;
  position: relative;
}

.dino {
  width: 60px;
  height: 60px;
  background-image: url("./assets/imgs/dino.png");
  position: absolute;
  bottom: 0;
}

.cactus {
  width: 60px;
  height: 60px;
  background-image: url("./assets/imgs/cactus.png");
  position: absolute;
  bottom: 0;
  right: 0;
}

@keyframes slider {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}
